version: "3.8"

services:
  backend:
    build: ./backend
    container_name: pricebyte-backend
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DB_USERNAME: neondb_owner
      DB_PASSWORD: npg_pFec60LRKvsf
      RAPIDAPI_KEY: ${RAPIDAPI_KEY}
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: pricebyte-frontend
    restart: unless-stopped
    environment:
      EXTERNAL_API_URL: http://backend:8080
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - backend



networks:
  app-network:
    driver: bridge
